{% extends 'base.jinja2' %}
{% block content %}
<style>
h1 {text-align: center;}
P {text-align: center;}
</style>
<h1>{{ liv['Title'] }}</h1>
<P>{{ liv['Content']}}</P>
<P>{{ liv['Result']}}</P>
{% endblock %}

